# Ignore node_modules, which can be installed inside the container
node_modules/

# Ignore the vendor directory (Laravel's dependencies), which can also be installed inside the container
vendor/

# Ignore environment files
#.env
.env.*.local

# Ignore Laravel logs
storage/logs/

# Ignore Laravel caches
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/

# Ignore compiled assets
public/hot
public/storage
public/build
public/mix-manifest.json

# Ignore npm and Yarn log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore Composer lock and cache files (use `composer install` inside the container)
#composer.lock
composer.phar

# Ignore Dockerfile, readmes, etc.
Dockerfile
README.md
.dockerignore

# Ignore Git directory and files
.git
.gitignore

# Ignore IDE and editor configurations
.idea/
.vscode/
*.swp
*.sublime-project
*.sublime-workspace

# Ignore deployment scripts
deploy/
